PRACTICAL 3/practClient03_053/src/conf/xml-resources/web-service-references/StockDataService/wsdl/localhost_8080/Pract3_053/StockDataService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mypack/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mypack/" name="StockDataService">
<types>
<xsd:schema>
<xsd:import namespace="http://mypack/" schemaLocation="http://localhost:8080/Pract3_053/StockDataService?xsd=1"/>
</xsd:schema>
</types>
<message name="getNSE">
<part name="parameters" element="tns:getNSE"/>
</message>
<message name="getNSEResponse">
<part name="parameters" element="tns:getNSEResponse"/>
</message>
<message name="getGOLDRATE">
<part name="parameters" element="tns:getGOLDRATE"/>
</message>
<message name="getGOLDRATEResponse">
<part name="parameters" element="tns:getGOLDRATEResponse"/>
</message>
<message name="getBSE">
<part name="parameters" element="tns:getBSE"/>
</message>
<message name="getBSEResponse">
<part name="parameters" element="tns:getBSEResponse"/>
</message>
<portType name="StockDataService">
<operation name="getNSE">
<input wsam:Action="http://mypack/StockDataService/getNSERequest" message="tns:getNSE"/>
<output wsam:Action="http://mypack/StockDataService/getNSEResponse" message="tns:getNSEResponse"/>
</operation>
<operation name="getGOLDRATE">
<input wsam:Action="http://mypack/StockDataService/getGOLDRATERequest" message="tns:getGOLDRATE"/>
<output wsam:Action="http://mypack/StockDataService/getGOLDRATEResponse" message="tns:getGOLDRATEResponse"/>
</operation>
<operation name="getBSE">
<input wsam:Action="http://mypack/StockDataService/getBSERequest" message="tns:getBSE"/>
<output wsam:Action="http://mypack/StockDataService/getBSEResponse" message="tns:getBSEResponse"/>
</operation>
</portType>
<binding name="StockDataServicePortBinding" type="tns:StockDataService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getNSE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGOLDRATE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBSE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StockDataService">
<port name="StockDataServicePort" binding="tns:StockDataServicePortBinding">
<soap:address location="http://localhost:8080/Pract3_053/StockDataService"/>
</port>
</service>
</definitions>