PRACTICAL 3/practClient03_053/src/conf/xml-resources/web-service-references/StockDataService/wsdl/localhost_8080/Pract3_053/StockDataService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://mypack/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mypack/">

<xs:element name="getBSE" type="tns:getBSE"/>

<xs:element name="getBSEResponse" type="tns:getBSEResponse"/>

<xs:element name="getGOLDRATE" type="tns:getGOLDRATE"/>

<xs:element name="getGOLDRATEResponse" type="tns:getGOLDRATEResponse"/>

<xs:element name="getNSE" type="tns:getNSE"/>

<xs:element name="getNSEResponse" type="tns:getNSEResponse"/>

<xs:complexType name="getNSE">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getNSEResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGOLDRATE">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getGOLDRATEResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBSE">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBSEResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>